.contact-bg {
    background-image: url(/frontend/img/Contact-us.png);
    /*background-position: center center;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-bottom: 15%;
}
.contact-name,
.contact-email,
.contact-message {
    width: 100%;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #b8bbbd;
    color: #000;
}

.lite-theme .contact-name,
.lite-theme .contact-email,
.lite-theme .contact-message {
    border: 1px solid #537795 !important;
    background-color: #537795 !important;
    color: #fff;
}

.contact-row input::placeholder,
.contact-row textarea::placeholder {
    color: #000 !important;
    font-weight: 600;
    font-size: 18px;
}

.lite-theme .contact-row input::placeholder,
.lite-theme .contact-row textarea::placeholder {
    color: #fff !important;
}
.contact-row:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.contact-row::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}
.contact-send {
    background-color: #b8bbbd;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.lite-theme .contact-send {
    background-color: #537795;
    color: #fff;
}

.contact-send:hover {
    background-color: #b8bbbd;
}
.mrk-overview-bg {
    background-color: #000a10;
}
.nav-a-margin {
    margin-left: 10px;
    margin-right: 10px;
}
.dark-light-btn {
    position: absolute;
}
.pd-top-80 {
    padding-top: 80px;
}
.pd-bottom-80 {
    padding-bottom: 100px;
}
.contact-us-title {
    color: #fff;
    font-weight: 300;
    padding-bottom: 30px;
    font-size: 75px;
}
.pd-0 {
    padding-right: 0px;
    padding-left: 0px;
}
span.input-group-append {
    padding-right: 30px;
}
.dot {
    height: 13px;
    width: 13px;
    background-color: #1498ed;
    border-radius: 50%;
    display: inline-block;
    margin-top: 11px;
}
.col-red {
    color: red;
}
.col-green {
    color: #67d100;
}
#tab-button {
    width: 100%;
}
select#tab-select {
    padding: 5px 15px;
    background-color: #00121e;
    color: white;
    border-color: aqua;
    width: 100%;
}
.one:before,
.one:after {
    content: "";
    height: 1px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        #3dd4c9 50%,
        rgba(0, 0, 0, 0) 100%
    );
    display: block;
}
.img-pd-5 {
    padding-right: 5px !important;
}
.mgr-0 {
    margin-right: 0px !important;
}
.wdth-100 {
    width: 100% !important;
}
.bg-one {
    background-color: #000d13 !important;
}
.con-one {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
}
.pd-20 {
    padding: 20px !important;
}
.bx-shad {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 28, 32, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 28, 32, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 28, 32, 1);
    background-color: #000c11;
    padding: 20px;
}
.bx-h1 {
    color: white;
    padding: 15px 15px 0px 30px;
    font-weight: 200;
}
.bx-img {
    width: 18px;
    padding-bottom: 5px;
}
.bx-p {
    color: #00fff6;
    padding: 0px 0px 0px 30px;
    margin-bottom: 0px;
}
.bx-p-2 {
    color: #00fff6;
    padding: 0px 0px 0px 30px;
    margin-bottom: 20px;
}
.bx-p-3 {
    color: #ff0000;
    padding: 0px 0px 0px 30px;
    margin-bottom: 0px;
}
.bx-p-4 {
    color: #ff0000;
    padding: 0px 0px 0px 30px;
    margin-bottom: 20px;
}
.new-bg-1 {
    background-color: #00121e;
}
.pd-60 {
    padding: 45px 0px !important;
}
.h4-one {
    margin: 0px;
    color: white;
    font-weight: 100;
}
.p-one {
    margin: 0px;
    color: #27f101;
}
.p-two {
    margin: 0px;
    color: #ea0203;
}
.cl-3 {
    border-right: 1px solid #001b26;
}
.sty-one {
    margin: 0px;
    color: #00fff6;
    font-weight: 400;
    padding-left: 15px;
}
.pd-60-40 {
    padding: 60px 40px;
}
.sty-two {
    margin: 0px;
    color: #00fff6;
    font-weight: 400;
    padding-bottom: 40px;
    padding-left: 15px;
}
.bg-c-6 {
    background-color: #00111d;
    color: white;
}
.sty-three {
    border-right: 1px solid #001b26;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    padding: 20px;
    height: 470px;
}
.sty-four {
    padding: 30px;
    background-color: #0e8b6b;
}
.sty-five {
    padding: 0px 20px 20px 20px;
}
.sty-six {
    padding: 20px;
    background-color: #0e8b6b;
    text-align: center;
    margin: 18px 0px;
}
.sty-seven {
    border-right: 1px solid #001b26;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    padding: 15px;
}
.sty-eight {
    margin: 0px;
    color: white;
    font-weight: 100;
    color: #00fff6;
}
.sty-nine {
    padding: 15px 15px 15px 0px !important;
}
.pdl-0 {
    padding-left: 0px !important;
}
.bold-tbl {
    font-weight: bold;
    font-size: 18px;
}
.box-main {
    display: flex;
    padding: 20px !important;
}
.b-r-1 {
    width: 35%;
}
.tr-40 {
    padding-bottom: 40px;
}
.tr-40 th {
    font-size: 20px !important;
    font-weight: 400 !important;
}
.mb-pd-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.table td,
.table th {
    border-top: none;
}
.table th {
    font-weight: 500;
}
.table {
    table-layout: fixed;
    width: 100%;
}
.tab-select-outer {
    padding-left: 15px;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.success-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}
.success-msg {
    color: #46dc0a;
    background-color: #39638a;
}
.error-msg {
    color: #d8000c;
    background-color: #ded7d7;
}
@media (max-width: 690px) {
    .contact-bg {
        background-image: none;
        background-color: #000c13;
    }
    body.lite-theme .contact-bg {
        background-image: none !important;
        background-color: #fff !important;
    }
}
/* Lite theme */
.lite-theme .text-white {
    color: #fff !important;
}
body.lite-theme .contact-bg {
    background-image: url(/frontend/img/Contact-us-lite.png);
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 15%;
}
.lite-theme .contact-us-title {
    color: black;
    font-weight: 400;
}
.lite-theme .search-field {
    border-color: #000000 !important;
}
.lite-theme i.fa.fa-search {
    color: #000000 !important;
}
