.market-bg {
    background-color: #001017;
}
.mrk-overview-bg {
    background-color: #000a10;
}
.market-pg-sec-4:after {
    content: "";
    position: absolute;
    background: url(../img/side-graph-sm.png);
    background-repeat: no-repeat;
    width: 355px;
    height: 100%;
    right: 0px;
    top: unset !important;
    bottom: 0px !important;
}
.mrk-overview-bg.market-pg-sec-4.market-pg-common {
    position: relative;
}
.nav-a-margin {
    margin-left: 10px;
    margin-right: 10px;
}
.dark-light-btn {
    position: absolute;
}
.pd-0 {
    padding-right: 0px;
    padding-left: 0px;
}
span.input-group-append {
    padding-right: 30px;
}
.dot {
    height: 13px;
    width: 13px;
    background-color: #1498ed;
    border-radius: 50%;
    display: inline-block;
    margin-top: 11px;
}
.table-responsive-stack tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.table-responsive-stack td,
.table-responsive-stack th {
    display: block;
    /*      
		   flex-grow | flex-shrink | flex-basis   */
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 100;
    border: none;
}

.table-responsive-stack .table-responsive-stack-thead {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .table-responsive-stack tr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        /*border-bottom: 3px solid #ccc;*/
        display: block;
        border: none;
    }
    /*  IE9 FIX   */
    .table-responsive-stack td {
        float: left\9;
        width: 100%;
    }
}
table tr th {
    border-bottom: 0px solid #dee2e6 !important;
    color: #8b8b8b;
}
table tbody tr td {
    color: white;
}
table tbody tr td:nth-child(1) {
    color: white;
}
.col-red {
    color: red;
}
.col-green {
    color: #67d100;
}
#tab-button {
    width: 100%;
}
select#tab-select {
    padding: 5px 15px;
    background-color: #00121e;
    color: white;
    border-color: aqua;
    width: 100%;
}
.one:before,
.one:after {
    content: "";
    height: 1px;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        #3dd4c9 50%,
        rgba(0, 0, 0, 0) 100%
    );
    display: block;
}
.img-pd-5 {
    padding-right: 5px !important;
}
.mgr-0 {
    margin-right: 0px !important;
}
.wdth-100 {
    width: 100% !important;
}
.bg-one {
    background-color: #000d13 !important;
}
.con-one {
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 100px;
}
.pd-20 {
    padding: 20px !important;
}
.bx-shad {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 28, 32, 1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 28, 32, 1);
    box-shadow: 0px 0px 8px 0px rgba(0, 28, 32, 1);
    background-color: #000c11;
    padding: 20px;
}
.bx-h1 {
    color: white;
    padding: 15px 15px 0px 30px;
    font-weight: 400;
}
.bx-img {
    width: 18px;
    padding-bottom: 5px;
}
.bx-p {
    color: #00fff6;
    padding: 0px 0px 0px 30px;
    margin-bottom: 0px;
    font-weight: 600;
}
.bx-p-2 {
    color: #00fff6;
    padding: 0px 0px 0px 30px;
    margin-bottom: 20px;
    font-weight: 600;
}
.bx-p-3 {
    color: #ff0000;
    padding: 0px 0px 0px 30px;
    margin-bottom: 0px;
    font-weight: 600;
}
.bx-p-4 {
    color: #ff0000;
    padding: 0px 0px 0px 30px;
    margin-bottom: 20px;
    font-weight: 600;
}
.new-bg-1 {
    background-color: #00121e;
}
.pd-60 {
    padding: 45px 0px !important;
}
.h4-one {
    margin: 0px;
    color: white;
    font-weight: 400;
}
.p-one {
    margin: 0px;
    color: #27f101;
    font-weight: 400;
}
.p-two {
    margin: 0px;
    color: #ea0203;
}
.cl-3 {
    border-right: 1px solid #001b26;
}
.sty-one {
    margin: 0px;
    color: #00fff6;
    font-weight: 400;
    padding-left: 15px;
}
.pd-60-40 {
    padding: 60px 40px;
}
.sty-two {
    margin: 0px;
    color: #00fff6;
    font-weight: 400;
    padding-bottom: 40px;
    padding-left: 15px;
}
.bg-c-6 {
    background-color: #00111d;
    color: white;
}
.sty-three {
    border-right: 1px solid #001b26;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    padding: 20px;
    height: 470px;
}
.sty-four {
    padding: 30px;
    background-color: #0e8b6b;
}
.sty-five {
    padding: 0px 20px 20px 20px;
}
.sty-six {
    padding: 20px;
    background-color: #0e8b6b;
    text-align: center;
    margin: 18px 0px;
}
.sty-seven {
    border-right: 1px solid #001b26;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    padding: 15px;
}
.sty-eight {
    margin: 0px;
    color: white;
    font-weight: 100;
    color: #00fff6;
}
.sty-nine {
    padding: 15px 15px 15px 0px !important;
}
.pdl-0 {
    padding-left: 0px !important;
}
.bold-tbl {
    font-weight: bold;
    font-size: 18px;
}
.box-main {
    display: flex;
    padding: 20px !important;
    padding-left: 0px !important;
}
.b-r-1 {
    width: 35%;
}
.box-one {
    border: 1px solid;
    width: 100%;
    background-color: #0e8b6b;
    padding: 40px;
    position: relative;
    /* margin-right: 5px; */
    margin-bottom: 15px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-one-one {
    border: 1px solid;
    width: 100%;
    background-color: #0e8b6b;
    padding: 40px;
    /*display: inline-block;*/
    position: relative;
    /* margin-right: 5px; */
    margin-bottom: 15px;
    height: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-r-2 {
    width: 30%;
}
.box-three {
    border: 1px solid;
    width: 90%;
    background-color: #0e8b6b;
    padding: 40px;
    /*display: inline-block;*/
    position: relative;
    /* margin-right: 15px; */
    margin-bottom: 15px;
    margin-left: 17px;
    height: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-r-3 {
    width: 35%;
}

.box-two {
    height: 341px;
    border: 1px solid;
    width: 95%;
    background-color: #0e8b6b;
    padding: 40px;
    /*display: inline-block;*/
    position: relative;
    margin-bottom: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tr-40 {
    padding-bottom: 40px;
}
.tr-40 th {
    font-size: 20px !important;
    font-weight: 400 !important;
}
.mb-pd-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.table td,
.table th {
    border-top: none;
}
.table th {
    font-weight: 500;
}
.table {
    table-layout: fixed;
    width: 100%;
}
.tab-select-outer {
    padding-left: 15px;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.lite-theme .market-bg {
    background-color: white;
}
.lite-theme .search-field {
    border-color: #000000 !important;
}
i.fa.fa-search {
    color: #00ffff;
}
.lite-theme i.fa.fa-search {
    color: #000000;
}
.lite-theme .bg-one {
    background-color: #ffffff !important;
}
.lite-theme .bx-shad {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 20px -2px rgb(115 120 120 / 21%);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    box-shadow: 0px 0px 20px -2px rgb(109 113 113 / 21%);
}
.lite-theme .bx-h1 {
    color: black;
}
.lite-theme .bx-p {
    color: #2aff00;
}
.lite-theme .bx-p-2 {
    color: #2aff00;
}
.lite-theme .h4-one {
    color: black;
}
.lite-theme .new-bg-1 {
    background-color: white;
}
.lite-theme .p-one {
    font-weight: 600;
}
.lite-theme .p-two {
    font-weight: 600;
}
.lite-theme .mrk-overview-bg {
    background-color: white;
}
.lite-theme .sty-one {
    color: #000000;
}
.sty-one-h4 {
    color: white;
    font-weight: 100;
    padding-left: 15px;
}
.lite-theme .sty-one-h4 {
    color: #000000;
    font-weight: 300;
}
.lite-theme .sty-two {
    color: #000000;
}
.lite-theme .h4-one {
    color: #000000;
}
.lite-theme .bg-c-6 {
    background-color: white;
}
.lite-theme .sty-three {
    border-right-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.lite-theme .sty-eight {
    color: #000000;
    font-weight: 400;
}
.lite-theme .sty-seven {
    border-right-color: white;
    -webkit-box-shadow: 0px 0px 20px -2px rgb(115 120 120 / 21%);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.21);
    box-shadow: 0px 0px 20px -2px rgb(109 113 113 / 21%);
}
.lite-theme table tbody tr td:nth-child(1) {
    color: #000000;
    font-weight: 500;
}
.lite-theme .col-green {
    font-weight: 500;
}
.lite-theme .col-red {
    font-weight: 500;
}
.lite-theme .lt-bl {
    color: #000000;
}
.lite-theme .bold-tbl {
    color: #000000;
}
.lite-theme .lt-ft-wt {
    font-weight: 500 !important;
}
.lite-theme .bd-left {
    border-left: 1px solid;
    padding-left: 40px;
}
.bar-width {
    width: 100%;
}

@media screen and (max-width: 1200px) and (min-width: 330px) {
    .bx-p {
        font-size: 14px;
    }
    .bx-p-2 {
        font-size: 14px;
    }
    .new-bg-1 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mrk-overview-bg.market-pg-sec-4.market-pg-common {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sty-one {
        font-size: 26px;
    }
    .sty-one-h4 {
        font-size: 20px;
    }
    .pd-60-40 {
        padding: 60px 15px;
    }
    .market-pg-sec-4:after {
        right: -105px;
        top: 10px;
        background-size: 400px;
    }
    .con-one {
        padding-left: 30px;
        padding-right: 30px;
    }
    .bx-h1 {
        font-size: 26px;
    }
    .bx-img {
        width: 10px;
    }
    .bar-width {
        width: 80%;
    }
    .fnt-12 {
        font-size: 12px;
    }
    .sty-two {
        font-size: 26px;
    }
    .sty-two-h4 {
        font-size: 20px;
    }
    .box-one-one {
        padding: 15px;
    }
    .h4-one {
        font-size: 20px;
    }
    .sty-eight {
        font-size: 18px;
    }
    .th-fnt {
        font-size: 12px;
        padding: 5px !important;
    }
    .sty-nine {
        padding: 15px 0px 15px 0px !important;
    }
    .col-green {
        font-size: 12px;
    }
    .col-red {
        font-size: 12px;
    }
    .pd-10 {
        padding: 15px 10px !important;
    }
    #tab-button li a {
        font-size: 20px;
    }
    .tr-40 th {
        font-size: 18px !important;
    }
    .bold-tbl {
        font-size: 16px;
    }
    .bx-p-3 {
        font-size: 14px;
    }
    .con-one {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 1500px) and (min-width: 1480px) {
    .market-pg-sec-4:after {
        top: -65px;
    }
}
@media screen and (max-width: 1479px) and (min-width: 1385px) {
    .market-pg-sec-4:after {
        top: -80px;
    }
}
@media screen and (max-width: 1384px) and (min-width: 1201px) {
    .market-pg-sec-4:after {
        top: -106px;
    }
    .pd-10 {
        font-size: 14px;
    }
}
@media screen and (max-width: 1500px) and (min-width: 992px) {
    .con-one {
        padding-left: 30px;
        padding-right: 30px;
    }

    .new-bg-1 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mrk-overview-bg.market-pg-sec-4.market-pg-common {
        padding-left: 15px;
        padding-right: 15px;
    }
    .bar-width {
        width: 100%;
    }
}

@media screen and (max-width: 600px) and (min-width: 300px) {
    .box-one-one {
        display: block;
        padding: 15px;
    }
    .box-one {
        display: block;
        padding: 15px;
    }
    .box-three {
        display: block;
        padding: 15px;
    }
    .box-two {
        display: block;
        padding: 15px;
    }
    .b-r-1 {
        width: 100%;
    }
    .b-r-2 {
        width: 100%;
    }
    .b-r-3 {
        width: 100%;
    }
    .box-main {
        padding: 15px 0px !important;
    }
}
@media only screen and (max-width: 1000px) {
    img.bar-width {
        width: 100% !important;
    }
    .col-lg-10.col-md-10.dv-bar-width {
        width: 100% !important;
        max-width: 100% !important;
        flex: none !important;
    }
}
@media only screen and (max-width: 600px) {
    .box-main {
        display: block;
    }
    .sty-three {
        height: auto;
    }
    .box-three {
        border: 1px solid;
        width: 100%;
        margin-left: 0px;
        height: auto;
    }
    .box-two {
        height: auto;
        width: 100%;
        margin-left: 0px;
    }
    .box-one {
        height: auto !important;
    }
}
@media screen and (max-width: 1300px) and (min-width: 990px) {
    .p-blocks-dv {
        display: block !important;
        max-width: 100% !important;
        flex: auto;
    }
    .exit-hours-dv {
        display: block !important;
        max-width: 100% !important;
        flex: auto;
    }
    td.td-to-flex {
        display: flex;
    }
}

td.td-to-flex {
    font-size: 13px;
    line-height: 24px;
}
.p-to-small {
    font-size: 13px;
}
.mrk-overview-bg.market-pg-sec-4.market-pg-common {
    z-index: -9;
}
@media screen and (max-width: 1200px) and (min-width: 1000px) {
    .market-pg-sec-4:after {
        width: 355px;
        height: 100%;
        right: none;
        top: unset !important;
        left: unset !important;
        bottom: -23px !important;
        z-index: 9;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .pd-10 {
        padding: 15px 10px !important;
    }
    .fnt-12 {
        font-size: 12px;
    }
    .th-fnt {
        font-size: 12px;
        padding: 5px !important;
    }
}

body.market-page.lite-theme .market-pg-sec-4:after {
    display: none;
}
