button.btn.btn-link.collapsed:before {
  content:"\f067";
  font-family:fontawesome;
}
button.btn.btn-link:before {
  content:"\f068";
  font-family:fontawesome;
}
.tab {
  /*float: left;*/
  /* border: 1px solid #ccc; */
  background-color: #000e14;
  width: 25%;
  height: 300px;
  padding: 20px 10px;
  height: auto;
  border-right: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 1px solid #fff;
  padding-left: 0px;
}
.nav-a-margin {
    margin-left: 10px;
    margin-right: 10px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: unset;
}
.dark-light-btn {
  position: absolute; 
}
/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #00e0f7 !important;
  color: #000000 !important;
  padding: 22px !important;
  font-weight: 600 !important;
}

/* Style the tab content */
.tabcontent {
  /*float: left;*/
  padding: 0px 12px;
  /* border: 1px solid #ccc; */
  width: 75%;
  /* border-left: 1px solid #ccc; */
  height: 300px;
  padding: 20px 25px;
}
div#faq-section-row * {
    color: #fff;
     height: auto;
}

div#faq-section-row * h2 {
    color: #01ffff;
    margin-bottom: 0px;
    padding-bottom: 50px;
}

div#faq-section-row {
    background-color: #000e14;
    padding-top: 50px;
    padding-bottom: 50px;
    /* position: relative; */
    /* height: auto; */
}
.tabcontent h3 {
    font-size: 19px;
}
.btn-link:hover , .btn-link:focus{
    text-decoration: none;
}

.card-header {
    padding: 20px 25px;
    padding-left: 0px;
    border: none;
}

.tabcontent h2 {
    padding-bottom: 10px !important;
}
.pd-0 {
    padding-right: 0px;
    padding-left: 0px;
}
button.btn.btn-link.collapsed:focus {
    text-decoration:none;
}
.card-header .show{
  background-color: #01ffff;
}

.card-body{
  padding-left: 40px;
}
.lite-theme .show .card-body{color: rgb(0, 0, 0) !important;}
.show .card-body{ 
  color: rgb(255, 255, 255) !important;
}
.lite-theme .card{
  border-bottom: 1px solid rgb(0, 0, 0);
}
.card {
    background-color: #000e14;
    border-bottom: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
}
.the-main-con {
    display: flex;
}
.faq-bg  {
    background-color: #000e14;
}
.lite-theme .faq-bg , .lite-theme div#faq-section-row , .lite-theme .tab{
    background-color: #fff;
}
.lite-theme div#faq-section-row * , .lite-theme .tab button , .lite-theme .card{
  color: #000;
  background-color: #fff;
}
.lite-theme .card-header{
  
}
.lite-theme div#faq-section-row * h2 {
    color: #464646;
}
.lite-theme .tab button{
  border-bottom: 1px solid #000;
}
@media(max-width: 770px){
  .the-main-con {
    display: block;
  }
  .tab {
    background-color: #000e14;
    width: 100%;
    height: 300px;
    padding: 20px 25px;
    height: auto;
    border-right:none;
  }
  .tab button {
    display: block;
    background-color: inherit;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 1px solid #fff;
    padding-left: 12px;
  }
  .tabcontent {
    padding: 0px 12px;
    width: 100%;
    height: 300px;
    padding: 20px 25px;
  }
  #FAQ1{
    display: none;
  }
}
@media(max-width: 1024px){
    div#faq-section-row {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media(max-width: 1280px){
    div#faq-section-row {
        padding-right: 30px;
        padding-left: 30px;
    }  
}
@media(max-width: 1366px){
    div#faq-section-row {
        padding-right: 30px;
        padding-left: 30px;
    }  
}
@media(max-width: 1440px){
    div#faq-section-row {
        padding-right: 30px;
        padding-left: 30px;
    }  
}
.faq-section-bg .card-header h5 button.btn {
    white-space: unset;
}