@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
ul,
li,
ol,
small,
a,
strong,
b {
    font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar-thumb:hover {
    background: #00ada2 !important;
}
::-webkit-scrollbar-thumb {
    background: #02243b;
}
::-webkit-scrollbar-track {
    background: #ccc8c8;
}
::-webkit-scrollbar {
    width: 10px !important;
}
.bg-stock-market {
    background: 
		    /* top, transparent red, faked with gradient */ linear-gradient(
            rgba(2, 28, 47, 0.93),
            rgba(2, 28, 47, 0.93)
        ),
        /* bottom, image */ url(../img/stock-market.jpg);

    /*background-image: url(img/stock-market.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.ban-text {
    position: absolute;
    top: calc(50% - 20%);
}
.bs-example {
    padding: 50px 55px;
}
i.fa.fa-search {
    color: #00ffff;
}
.nav-right-padding {
    padding: 0px 50px;
}
a.nav-link.div-a-second.active {
    color: aqua;
}
i.active.fa.fa-gavel {
    color: #fff;
}
.select-drop-down {
    background-color: #031a27;
    padding: 5px;
    color: white;
    width: 100%;
}
.dot {
    height: 13px;
    width: 13px;
    background-color: #1498ed;
    border-radius: 50%;
    display: inline-block;
    margin-top: 13px;
}
.platform-bg {
    background: 
		    /* top, transparent red, faked with gradient */ linear-gradient(
            rgba(2, 28, 47, 0.7),
            rgba(2, 28, 47, 0.7)
        ),
        /* bottom, image */ url(../img/platform.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.bg-bitcoin {
    background: 
		    /* top, transparent red, faked with gradient */ linear-gradient(
            rgba(0, 10, 20, 0.93),
            rgba(0, 10, 20, 0.93)
        ),
        /* bottom, image */ url(../img/bitcoin-bg.jpg);

    /*background-image: url(img/stock-market.jpg);*/
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.why-choose-bg .container:after {
    content: "";
    position: absolute;
    background: url(../img/scale-vector.png);
    background-repeat: no-repeat;
    width: 690px;
    height: 770px;
    right: 0px;
    top: -182px;
}
.mobile-bg .container:after {
    content: "";
    position: absolute;
    background: url(../img/mobile-01.png);
    background-repeat: no-repeat;
    width: 650px;
    height: 550px;
    left: -227px;
    top: -55px;
    z-index: -9;
}
.mobile-bg .container {
    z-index: 1;
}
.graphiq {
    width: 100%;
    position: relative;
    display: flex;
}
.graphiq__graph-layout {
    flex: 1;
    overflow-x: hidden;
}
.graphiq__graph-values {
    font-size: 0.75em;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.25em;
    text-align: right;
    font-weight: bold;
}
.graphiq__line {
    fill: none;
    stroke-miterlimit: 10;
}
.graphiq__graph-key {
    display: flex;
    justify-content: space-between;
}
.graphiq__graph-key .key {
    font-size: 0.75em;
    text-align: center;
    display: block;
}
.graphiq__y-division {
    fill: none;
    stroke-miterlimit: 10;
    z-index: -1;
    transition: 0.25s ease-in;
}
.graphiq__graph-dot {
    transition: stroke-width ease-in-out 0.2s;
    transform-origin: 50% 50%;
}
.graphiq__value-dialog {
    display: block;
    position: absolute;
    background: transparent;
    font-size: 0.75em;
    line-height: 0;
    padding: 0.66em 0.33em;
    font-weight: bold;
    -webkit-animation: float 0.3s ease-out forwards;
    animation: float 0.3s ease-out forwards;
}

@-webkit-keyframes float {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY();
    }
}

@keyframes float {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY();
    }
}
.mgb-2 {
    margin-bottom: 2px;
}
.tabs {
    /*max-width: 640px;*/
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0px;
}
#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tab-button li {
    display: inline-block;
    padding: 0px 16px;
}
#tab-button li a {
    display: block;
    padding: 0.5em;
    background: transparent;
    /*border: 1px solid #ddd;*/
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
}
#tab-button li:not(:first-child) a {
    border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
    border-bottom-color: transparent;
    /*background: #fff;*/
    background: transparent;
    color: #5ddde8;
}
.tab-contents {
    padding: 0.5em 2em 1em;
    /*border: 1px solid #ddd;*/
}

.tab-button-outer {
    display: none;
}
.tab-contents {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }
    .tab-select-outer {
        display: none;
        padding-left: 20px;
    }
    .tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0;
    }
}
.div-eighty-top-padding {
    padding-top: 80px;
}
.div-navbar {
    padding-top: 80px;
    padding-left: 0px;
}
.div-a-first {
    padding: 20px 20px 0px 0px !important;
}
.div-a-second {
    padding: 20px 20px !important;
}
.search-field {
    background-color: transparent !important;
    border-color: #00ffff !important;
    padding: 2px 20px !important;
    color: white !important;
    border-radius: 10px !important;
    height: 35px;
}
a.nav-item.nav-link.nav-a-margin {
    color: white;
    /* font-size: 17px; */
    /* font-weight: 600; */
}
a.nav-item.active.nav-link.nav-a-margin {
    /*color: cyan;*/
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 600;
}
a.nav-item.nav-link.pd-10 {
    padding-left: 20px;
}
span.input-group-append {
    padding-right: 30px;
}
input.bg-transparent {
    border-color: transparent;
    color: white;
}
input.bg-transparent:focus {
    border-color: transparent !important;
    outline: 0px;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: white !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}
::placeholder {
    color: white !important;
    opacity: 0.8 !important; /* Firefox */
}
.form-top-button {
    margin: 0px 15px;
    color: white !important;
    text-decoration: none !important;
}
.space-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}
.main-h1-text {
    text-transform: uppercase;
    color: white;
}
.main-p-text {
    color: white;
    font-size: 20px;
}
.space-padding-two {
    padding-top: 30px;
    padding-bottom: 30px;
}
.reg {
    background-color: #00ffff;
    border-radius: 0px;
    color: #002b4b;
    border-color: #00ffff;
    padding: 8px 40px;
    margin-right: 25px;
}
.login-btn {
    background-color: transparent;
    border-radius: 0px;
    color: white;
    border-color: white;
    padding: 8px 40px;
}
.space-padding-three {
    padding-top: 30px;
    padding-bottom: 150px;
}
.second-cont {
    background-color: #01213a;
    padding: 20px;
    color: white;
    font-size: 22px;
}
.pd-left {
    padding-left: 20px;
}
.third-cont {
    background-color: #011321;
    padding: 20px;
    color: white;
}
.third-cont-h {
    font-weight: 300;
    padding-top: 30px;
    font-size: 45px;
}
.third-cont-one {
    padding-top: 50px;
}
.third-cont-two {
    /*border-right: 1px solid black;*/
    padding: 20px;
}
h5.mgb-2 {
    font-size: 16px;
    font-weight: 300;
}
.right-border {
    border-right: 1px solid black;
    position: absolute;
    top: 20%;
    display: flex;
    bottom: 20%;
    right: 0;
}
.third-cont-three {
    font-weight: 200;
    color: #afafaf;
}
.third-cont-four {
    width: 25px;
    float: right;
}
.third-cont-five {
    font-weight: 200;
    font-size: 30px;
}
.third-cont-six {
    padding: 20px;
}
.fourth-cont {
    background-color: #011321;
    padding: 20px 20px 200px 20px;
    color: white;
}
.fourth-cont-one {
    padding-bottom: 50px;
}
.fourth-cont-two {
    padding: 40px;
}
.fourth-cont-three {
    border-right: 1px solid #00111e;
}
.fourth-cont-four {
    padding: 15px 0px;
}
.fourth-cont-five {
    padding: 15px;
}
.fourth-cont-six {
    padding-top: 25px;
    padding-right: 0px;
    background-color: #01101b8c;
}
.fourth-cont-seven {
    width: 20px;
    float: right;
}
.fourth-cont-eight {
    padding-top: 20px;
    background-color: #01101b8c;
}
.fourth-cont-nine {
    padding-top: 20px;
    background-color: #01101b8c;
}
.fourth-cont-ten {
    float: right;
    text-align: right;
}
.fourth-cont-eleven {
    padding-top: 30px;
    background-color: #01101b8c;
}
.fifth-cont {
    background-color: #011017;
    padding: 20px;
    color: white;
    padding-bottom: 100px;
    position: relative;
}
.fifth-cont-one {
    padding-bottom: 50px;
}
.fifth-cont-two {
    padding: 30px;
}
.fifth-cont-three {
    font-weight: 400;
    padding-bottom: 20px;
    font-size: 35px;
}
.fifth-cont-four {
    padding: 20px;
}
.fifth-cont-five {
    color: #54b9d2;
    padding-bottom: 15px;
    font-weight: 600;
}
.sixth-cont {
    background-color: #00151f;
    padding: 20px 20px 0px 20px;
    color: white;
    position: relative;
    z-index: 9;
}
.sixth-cont-one {
    padding-bottom: 50px;
}
.sixth-cont-two {
    padding: 8px;
}
.sixth-cont-three {
    font-weight: 400;
    padding-bottom: 20px;
    font-size: 35px;
}
.sixth-cont-four {
    background-color: #0b1e27;
    padding: 30px;
}
.sixth-cont-five {
    margin-top: 10px;
    background-color: #00151f;
    border-style: none;
    padding: 5px 10px;
    width: 80%;
    height: 40px;
    color: #00ffff;
}
.sixth-cont-six {
    background-color: #00151f;
    border-style: none;
    padding: 10px;
    width: 350px;
    height: 40px;
    color: white;
}
.sixth-cont-seven {
    background-color: #48abc3;
    border-radius: 0px;
    color: #002b4b;
    border-color: #48abc3;
    padding: 5px 40px;
    margin-right: 25px;
    margin-top: 10px;
}
.sixth-cont-eight {
    width: 60px;
    margin-left: 5px;
}
.seventh-cont {
    background-color: #011017;
    padding: 20px;
    color: white;
}
.seventh-cont-one {
    padding-bottom: 50px;
}
.seventh-cont-two {
    padding: 30px;
}
.seventh-cont-three {
    font-weight: 400;
    padding-bottom: 20px;
    font-size: 35px;
}
.seventh-cont-four {
    /*width: 400px;height: 300px;*/
}
.seventh-cont-five {
    /*width: 100%;height: 100%;*/
    width: 80%;
    height: 80%;
}
.seventh-cont-six {
    padding: 40px 0px 5px 0px;
    font-size: 20px;
}
.eighth-cont {
    background-color: #011017;
    color: white;
}
.eighth-cont-one {
    padding: 30px;
}
.eighth-cont-two {
    font-weight: 400;
    padding: 80px 0px 50px 20px;
    text-transform: uppercase;
}
.eighth-cont-three {
    padding-left: 20px;
    width: 150px;
}
.eighth-cont-four {
    width: 40%;
    float: right;
}
.ninth-cont {
    background-color: #000e14;
    color: white;
}
.ninth-cont-one {
    padding: 30px;
}
.ninth-ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 30px;
    font-size: 18px;
}
a.nav-item.nav-link.nav-a-margin.active2 {
    color: #00faf7;
}
.fourth-cont-eight p {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}
.fourth-cont-eight p span {
    font-size: 13px;
    font-weight: 400;
}
.fourth-cont-nine p {
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}
.fourth-cont-nine p span {
    font-size: 13px;
    font-weight: 400;
}

.ninth-cont h5 {
    font-size: 19px;
    font-weight: 600;
}
.second-cont .col-md-6 span {
    padding-right: 8px;
}
.col-lg-12.col-md-12.powered-ico {
    /* position: relative;
    top: 77px;
    right: 250px; */
}
.third-cont-two h5,
.third-cont-two h6.mgb-2,
.third-cont-two p {
    font-size: 16px;
    font-weight: 300;
}
h6.mgb-2 {
    font-weight: 700 !important;
}
/* img.footer-logo {
    width: 261px !important;
} */
html,
body {
    width: 100%;
    overflow-x: hidden;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0px;
}
a.foot-a {
    color: white;
}
a.foot-a:hover {
    text-decoration: none;
    color: #54b9d2;
}
a.navbar-brand {
    padding-left: 10px;
}
.sixth-cont-five:focus {
    outline: none;
}
/*Left Side Buttons Start*/
.sticky-left-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: -158px;
    top: calc(50% - 83px);
    width: 200px;
    z-index: 999;
}
.sticky-left li {
    list-style-type: none;
    background-color: none;
    color: #efefef;
    height: 150px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: default;
    position: relative;
}
.sticky-left li:hover {
    margin-right: -3rem;
    background: #00000040;
    border-radius: 25px 25px 25px 0;
}
.sticky-left li .i1 {
    float: right;
    border-radius: 50%;
    margin: 5px 5px;
    margin-left: 10px;
    transform: translate(0px, 35px);
    font-size: 30px;
    cursor: default;
    opacity: 0.4;
}
.lite-theme .sticky-left li .i1 {
    color: yellow;
    opacity: 1;
}
i.fa.fa-sun-o.i1:after {
    content: "_";
    position: absolute;
    bottom: -3px;
    left: 0;
    font-size: 60px;
    color: #00ffff;
    opacity: 1;
    cursor: default;
}
.lite-theme i.fa.fa-sun-o.i1:after {
    color: #000000;
    opacity: 0.6;
}
.sticky-left li .i2 {
    float: right;
    border-radius: 50%;
    margin: 5px 5px;
    margin-left: 10px;
    transform: translate(42px, 75px);
    font-size: 30px;
    cursor: default;
}
.sticky-left li .btn-group-vertical {
    padding: 0px;
    float: right;
    margin: 0px;
    line-height: 43px;
}
.sticky-left li:hover .btn-group-vertical {
    padding: 5rem;
}
.daynite {
    background: #00000040;
}
/*Left Side Buttons End*/
.container {
    max-width: 1520px;
}
.vdr.active:before {
    border-right: 0px solid #001b26;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89);
    box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89);
    outline: none;
}
.vdr-stick {
    background: #00ada2;
    border: 1px solid #00ada2;
    -webkit-box-shadow: 0 0 2px rgba(0, 173, 161, 0.89);
    box-shadow: 0 0 2px rgba(0, 173, 161, 0.89);
    border-radius: 50%;
}
@media (min-width: 1679px) and (max-width: 1800px) {
    .container {
        max-width: 1390px;
    }
}
@media (min-width: 1600px) and (max-width: 1680px) {
    .container {
        max-width: 1320px;
    }
    .eighth-cont-four {
        width: 45%;
    }
    .profile-sidebar-logo-area img {
        width: 145px !important;
    }
}
@media (min-width: 1579px) and (max-width: 1599px) {
    .container {
        max-width: 1220px;
    }
    .eighth-cont-four {
        width: 50%;
    }
    p.sm-font {
        font-size: 16px;
    }
    .main-h1-text {
        width: 360px;
    }
    .main-p-text {
        width: 360px;
    }
    .why-choose-bg .container:after {
        width: 630px;
    }
    .pro-side-head {
        font-size: 20px !important;
    }
    .profile-sidebar-logo-area img {
        width: 145px !important;
    }
    body.profile-pg h1 {
        font-size: 28px;
    }
    .about-profile-left p {
        font-size: 18px !important;
    }
    .user-img-responsive {
        width: 90%;
    }
}
@media (min-width: 1481px) and (max-width: 1578px) {
    .container {
        max-width: 1185px;
    }
    .eighth-cont-four {
        width: 50%;
    }
    p.sm-font {
        font-size: 16px;
    }
    .main-h1-text {
        width: 360px;
    }
    .main-p-text {
        width: 360px;
    }
    .why-choose-bg .container:after {
        width: 560px;
    }
    .pro-side-head {
        font-size: 20px !important;
    }
    .profile-sidebar-logo-area img {
        width: 135px !important;
    }
    body.profile-pg h1 {
        font-size: 28px;
    }
    .about-profile-left p {
        font-size: 18px !important;
    }
    .user-img-responsive {
        width: 80%;
    }
}
@media (min-width: 1400px) and (max-width: 1480px) {
    .container {
        max-width: 1100px;
    }
    .eighth-cont-four {
        width: 55%;
    }
    p.sm-font {
        font-size: 16px;
    }
    .main-h1-text {
        width: 360px;
    }
    .main-p-text {
        width: 360px;
    }
    .why-choose-bg .container:after {
        width: 515px;
    }
    .pro-side-head {
        font-size: 19px !important;
    }
    body.profile-pg nav#sidebar ul li a {
        font-size: 15px !important;
    }
    .profile-sidebar-logo-area img {
        width: 120px !important;
    }
    body.profile-pg h1 {
        font-size: 28px;
    }
    .about-profile-left p {
        font-size: 17px !important;
    }
    .user-img-responsive {
        width: 75%;
    }
}
@media (min-width: 1340px) and (max-width: 1399px) {
    .container {
        max-width: 1000px;
    }
    .eighth-cont-four {
        width: 62%;
    }
    p.sm-font {
        font-size: 14px;
    }
    .main-h1-text {
        width: 360px;
    }
    .main-p-text {
        width: 360px;
    }
    #tab-button li a {
        font-size: 20px;
    }
    .why-choose-bg .container:after {
        width: 435px;
    }
    .pro-side-head {
        font-size: 17px !important;
    }
    body.profile-pg nav#sidebar ul li a {
        font-size: 12px !important;
    }
    .profile-sidebar-logo-area img {
        width: 120px !important;
    }
    body.profile-pg h1 {
        font-size: 28px;
    }
    .about-profile-left p {
        font-size: 16px !important;
    }
    .user-img-responsive {
        width: 75%;
    }
    .left-div-margin {
        margin-right: 5px;
    }
    .right-div-margin {
        margin-left: 5px;
    }
}
@media (min-width: 1280px) and (max-width: 1339px) {
    .container {
        max-width: 950px;
    }
    .eighth-cont-four {
        width: 70%;
    }
    p.sm-font {
        font-size: 14px;
    }
    .second-cont .col-md-6 span {
        padding-right: 5px;
    }
    .main-h1-text {
        width: 360px;
    }
    .main-p-text {
        width: 360px;
    }
    #tab-button li a {
        font-size: 20px;
    }
    .why-choose-bg .container:after {
        width: 390px;
    }
    .pro-side-head {
        font-size: 16px !important;
    }
    body.profile-pg nav#sidebar ul li a {
        font-size: 12px !important;
    }
    .profile-sidebar-logo-area img {
        width: 105px !important;
    }
    body.profile-pg h1 {
        font-size: 28px;
    }
    .about-profile-left p {
        font-size: 16px !important;
    }
    .user-img-responsive {
        width: 80%;
    }
    .left-div-margin {
        margin-right: 5px;
    }
    .right-div-margin {
        margin-left: 5px;
    }
}
@media (min-width: 1200px) and (max-width: 1279px) {
    .container {
        max-width: 900px;
    }
    .eighth-cont-four {
        width: 60%;
        padding-top: 6rem;
    }
    p.sm-font {
        font-size: 14px;
    }
    .second-cont .col-md-6 span {
        padding-right: 0px;
    }
    .main-h1-text {
        width: 360px;
    }
    .main-p-text {
        width: 360px;
    }
    #tab-button li a {
        font-size: 20px;
    }
    .sm-12-full {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .why-choose-bg .container:after {
        width: 350px;
    }
    .pro-side-head {
        font-size: 15px !important;
    }
    body.profile-pg nav#sidebar ul li a {
        font-size: 11px !important;
    }
    .profile-sidebar-logo-area img {
        width: 90px !important;
    }
    body.profile-pg h1 {
        font-size: 28px;
    }
    .about-profile-left p {
        font-size: 16px !important;
    }
    .user-img-responsive {
        width: 90%;
    }
}
@media (min-width: 1100px) and (max-width: 1199px) {
    .container {
        max-width: 860px;
    }
    .eighth-cont-four {
        width: 65%;
        padding-top: 10rem;
    }
    .main-h1-text {
        width: 360px;
    }
    .main-p-text {
        width: 360px;
    }
    #tab-button li a {
        font-size: 18px;
    }
    .sm-12-full {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .why-choose-bg .container:after {
        width: 290px;
    }
    p.sm-font {
        font-size: 14px;
    }
    .pro-side-head {
        font-size: 15px !important;
    }
    body.profile-pg h1 {
        font-size: 28px;
    }
    .about-profile-left p {
        font-size: 15px !important;
    }
    .user-img-responsive {
        width: 100%;
    }
}
@media (min-width: 999px) and (max-width: 1099px) {
    .container {
        max-width: 780px;
    }
    .eighth-cont-four {
        width: 70%;
        padding-top: 12rem;
    }
    #tab-button li a {
        font-size: 17px;
    }
    .sm-12-full {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .why-choose-bg .container:after {
        width: 265px;
    }
    p.sm-font {
        font-size: 13px;
    }
    .space-padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-h1-text {
        font-size: 28px;
    }
    .main-p-text {
        font-size: 18px;
    }
    .third-cont-h {
        font-size: 28px;
    }
    .third-cont-five {
        font-size: 20px;
    }
    .third-cont-two {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .third-cont-six {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .eighth-cont-two {
        font-size: 30px;
    }
    .custom-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .pd-left {
        padding-left: 0px;
    }
    .sixth-cont-five {
        width: 77%;
    }
    .sixth-cont-seven {
        padding: 5px 20px;
    }
    body.profile-pg h1 {
        font-size: 28px;
    }
    .about-profile-left p {
        font-size: 15px !important;
    }
    .user-img-responsive {
        width: 100%;
    }
    .dot {
        height: 10px;
        margin-top: 13px;
    }
}
@media (min-width: 999px) and (max-width: 1200px) {
    .pd-left {
        padding-left: 0px;
    }
}
@media (min-width: 901px) and (max-width: 998px) {
    .second-cont .col-md-6 {
        width: 100%;
        display: block !important;
        text-align: left !important;
        float: none;
    }
    .pd-left {
        padding-left: 0px;
    }
}

@media (min-width: 901px) and (max-width: 998px) {
    .container {
        max-width: 700px;
    }
    .eighth-cont-four {
        width: 72%;
        padding-top: 15rem;
    }
    #tab-button li a {
        font-size: 16px;
        padding: 0px;
    }
    .sm-12-full {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .why-choose-bg .container:after {
        width: 215px;
    }
    p.sm-font {
        font-size: 14px;
    }
    .space-padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-h1-text {
        font-size: 28px;
    }
    .main-p-text {
        font-size: 18px;
    }
    .third-cont-h {
        font-size: 28px;
    }
    .third-cont-five {
        font-size: 20px;
    }
    .third-cont-two {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .third-cont-six {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .eighth-cont-two {
        font-size: 30px;
    }
    .custom-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .user-img-responsive {
        width: 70%;
    }
    .dot {
        height: 10px;
        width: 21px;
        margin-top: 14px;
    }
}
@media (min-width: 766px) and (max-width: 899px) {
    .space-padding {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-h1-text {
        font-size: 28px;
    }
    .main-p-text {
        font-size: 18px;
    }
    .third-cont-h {
        font-size: 28px;
    }
    .third-cont-five {
        font-size: 20px;
    }
    .third-cont-two {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .third-cont-six {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .eighth-cont-two {
        font-size: 30px;
    }
    .custom-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .user-img-responsive {
        width: 80%;
    }
}
@media (max-width: 900px) {
    .container {
        max-width: 760px;
    }
    .eighth-cont-four {
        width: 60%;
        padding-top: 15rem;
    }
    .nav-right-padding {
        display: none;
    }
    div#navbarCollapse {
        background-color: #01132166;
        padding: 15px;
        margin-top: 20px;
    }
    .hide-sm {
        display: none;
    }
    .show-sm {
        display: block;
    }
    .sticky-left-container {
        width: 193px;
    }
    .sticky-left li .i1 {
        font-size: 25px;
    }
    .sticky-left li .i2 {
        font-size: 25px;
        transform: translate(38px, 75px);
    }
    i.fa.fa-sun-o.i1:after {
        font-size: 49px;
    }
    a.nav-item.nav-link.active.nav-a-margin {
        border-bottom: 1px solid cyan;
    }
    .bs-example {
        margin: 20px 0px;
        padding: 0px 20px;
    }
    a.navbar-brand {
        padding-left: 15px;
    }
    a.nav-item.active.nav-link.nav-a-margin {
        margin: 0px;
        font-size: 14px;
    }
    a.nav-item.nav-link.nav-a-margin {
        margin: 0px;
        font-size: 14px;
    }
    .search-field {
        width: 100%;
    }
    input.bg-transparent {
        width: 100%;
    }
    span.input-group-append {
        padding-right: 0px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
    }
    .dot {
        display: none;
    }
    .space-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main-h1-text {
        font-size: 34px;
    }
    .main-p-text {
        font-size: 18px;
    }
    p.sm-font {
        font-size: 16px;
        text-align: left !important;
    }
    span.pd-left {
        padding-left: 0px;
    }
    #tab-button li a {
        font-size: 16px;
        padding: 0px;
    }
    .why-choose-bg .container:after {
        width: 135px;
    }
}
@media (max-width: 800px) {
    .container {
        max-width: 770px;
    }
}
@media (min-width: 590px) and (max-width: 600px) {
    .container {
        max-width: 580px !important;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 740px;
    }
}
@media (max-width: 750px) {
    .container {
        max-width: 655px;
    }
}
@media (max-width: 650px) {
    .container {
        max-width: 555px;
    }
}
@media (max-width: 550px) {
    .container {
        max-width: 455px;
    }
}
@media (max-width: 425px) {
    .container {
        max-width: 355px;
    }
}
@media (min-width: 900px) {
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .sixth-cont-five {
        width: 76%;
    }
    .sixth-cont-seven {
        padding: 5px 15px;
    }
}
/*LITE THEME CSS STARTS*/

body.lite-theme {
    background-color: #fff !important;
}
body.lite-theme .main-bg {
    background-image: url(../img/slider-2-jpg.jpg);
    background-color: #fff;
    background-position: right center;
    background-size: 1037px 614px;
}
body.lite-theme .main-h1-text {
    color: #464646;
}
body.lite-theme .main-p-text {
    color: #464646;
}
body.lite-theme .login-btn {
    background-color: transparent;
    border-radius: 0px;
    color: #000;
    border-color: #000;
    padding: 8px 40px;
}
body.lite-theme .navbar-dark .navbar-nav .nav-link {
    color: #000;
}
body.lite-theme .search-field {
    border-color: #000 !important;
}
body.lite-theme i.fa.fa-search {
    color: #000;
}
body.lite-theme input.bg-transparent {
    color: #000 !important;
}
body.lite-theme .search-field::placeholder {
    color: #000 !important;
}
body.lite-theme .form-top-button {
    color: #000 !important;
}
body.lite-theme .second-cont {
    background-color: #fff;
    padding: 20px;
    color: #000;
}
body.lite-theme .third-cont {
    background-color: #fff;
    padding: 20px;
    color: #000;
}
body.lite-theme .bg-stock-market {
    background: #fff;
    background-color: transparent;
}
body.lite-theme #tab-button li a {
    color: #000;
}
body.lite-theme #tab-button li a:hover,
body.lite-theme #tab-button .is-active a {
    color: #5ddde8;
}
body.lite-theme .fourth-cont {
    color: #000;
}
body.lite-theme .fourth-cont-six {
    background-color: #fff;
}
body.lite-theme .fourth-cont-eight {
    background-color: #fff;
}
body.lite-theme .fourth-cont-nine {
    background-color: #fff;
}
body.lite-theme .fourth-cont-eleven {
    background-color: #fff;
}
body.lite-theme .fifth-cont {
    color: #000;
    background-color: transparent;
}
body.lite-theme .sixth-cont {
    color: #000;
    background-color: transparent;
}
body.lite-theme .sixth-cont-four {
    background-color: #e0e0e0;
}
body.lite-theme .mobile-bg {
    background: none;
}
body.lite-theme .sixth-cont-five {
    width: 80%;
    height: 49px;
}
body.lite-theme .sixth-cont-six {
    padding: 15px;
}
body.lite-theme .seventh-cont {
    background-color: #fff;
    color: #000;
}
body.lite-theme .bg-bitcoin {
    background: none;
}
body.lite-theme .platform-bg {
    background: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
}
body.lite-theme .eighth-cont {
    background-color: transparent;
    color: #000;
}
body.lite-theme .eighth-cont-three {
    filter: brightness(0);
}
body.lite-theme .sixth-cont-seven {
    background-color: #48abc3;
    border-radius: 0px;
    color: #fff;
    border-color: #48abc3;
    padding: 13px 40px;
    margin-right: 25px;
    margin-top: 9px;
    box-shadow: 0 0 0 0.1rem rgb(0 21 31 / 33%);
}

body.lite-theme .sixth-cont-seven:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 50%);
    background-color: #00151f;
}
body.lite-theme p.seventh-cont-six a {
    color: #48abc3;
}
body.lite-theme
    .col-lg-1.col-md-1.d-none.d-md-block.d-lg-block.div-eighty-top-padding
    img {
    filter: brightness(0);
}
body.lite-theme.market-pg-body .main-bg {
    background: none;
}
body.lite-theme.market-pg-body * {
    color: #000;
}
body.lite-theme.market-pg-body .market-pg-common {
    background-color: #fff;
    background: none !important;
}
body.lite-theme.market-pg-body .bx-shad {
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 23%);
    background-color: #fff;
    padding: 20px;
}
body.lite-theme.market-pg-body .graphiq__graph-key .key {
    color: #000 !important;
}
body.lite-theme.market-pg-body .bx-p,
body.lite-theme.market-pg-body .bx-p-2 {
    color: #2afc02;
    font-size: 18px;
    font-weight: 500;
}
body.lite-theme.market-pg-body .bx-p-3,
body.lite-theme.market-pg-body .bx-p-4 {
    color: #ff2529;
    font-size: 18px;
    font-weight: 500;
}
body.lite-theme.market-pg-body .p-one {
    margin: 0px;
    color: #27f101;
    font-size: 20px;
    font-weight: 500;
}
body.lite-theme.market-pg-body .p-two {
    margin: 0px;
    color: #ea0203;
    font-size: 20px;
    font-weight: 500;
}
body.lite-theme.market-pg-body .h4-one {
    font-weight: 500;
    font-size: 20px;
}
body.lite-theme.market-pg-body .market-pg-sec-4 h4 {
    color: #000 !important;
}
body.lite-theme.market-pg-body .bg-c-6 {
    background-color: #fff;
}
body.lite-theme.market-pg-body .sty-three {
    box-shadow: none;
    border-right: 0px;
}
body.lite-theme.market-pg-body .market-pg-sec-5 p {
    color: #fff !important;
}
body.lite-theme.market-pg-body .sty-seven {
    border-right: 0px solid #001b26;
    -webkit-box-shadow: 0px 0px 20px -2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0px 0px 20px -2px rgb(0 0 0 / 20%);
    box-shadow: 0px 0px 20px -2px rgb(0 0 0 / 13%);
    padding: 15px;
}
body.lite-theme.market-pg-body .table-striped tbody tr:nth-of-type(odd) {
    background-color: unset;
}
body.lite-theme.market-pg-body .col-green {
    color: #67d100;
    font-weight: 500;
}
body.lite-theme.market-pg-body table tbody tr td:nth-child(1) {
    color: #000;
    font-weight: 500;
}
body.lite-theme.market-pg-body .col-red {
    color: red;
    font-weight: 500;
}
body.lite-theme.market-pg-body .table-responsive-stack td,
body.lite-theme.market-pg-body .table-responsive-stack th {
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
body.lite-theme.market-pg-body #tab-button li a {
    font-weight: 500;
}
body.lite-theme.market-pg-body .market-pg-sec-7 * {
    color: #fff;
}
body.lite-theme .navbar-dark .navbar-brand {
    filter: brightness(0);
}
body.lite-theme .search-field input::placeholder {
    color: #464646 !important;
}
body.lite-theme .mobile-bg .container:after {
    /* display:none; */
}
/*LITE THEME CSS ENDS*/
.dark-light-btn {
    position: absolute;
}
body.lite-theme a.nav-item.nav-link.nav-a-margin.active2 {
    color: #54B9D2;
}