.main-bg{
	  		background-image: url(img/bg.jpg);
	  		background-position: center center;
	  		background-repeat: no-repeat;
	  		background-attachment: fixed;
	  		background-size: cover;
	  		background-color: #464646;
	  	}
	  	.trade-1-row .trade-1-col-left i{
    font-size:70px;
    color:#001a29;
} 
body.trade-pg ul.navbar-nav li a{
    font-size: 17px;
    font-weight: 600;
}
.trade-1-row {
    /* padding-top: 80px; */
    /* padding-bottom: 80px; */
    display: flex;
}

.trade-1-col-left {
    width: 5%;
    background-color: #011019;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 50px;
}

.trade-1-col-right {
    width: 95%;
}

.trade-main-content.container {
    max-width: 100%;
    padding-left: 0px;
}
.trade-1-row .trade-1-col-left i:hover{
    color:#fff;
}
.trade-1-row .trade-1-col-left div:nth-child(1) i{
    padding: 3px;
    background-color:#001a29;
    color:#011019;
    border-radius:5px;
}
.trade-1-row .trade-1-col-left div:nth-child(1) i:hover{
    padding: 3px;
    background-color:#fff;
    color:#011019;
    border-radius:5px;
}
@media (min-width: 1200px){
    .container {
        max-width: 1520px;
    }
}
.div-top-padding{
    padding-top:100px;
}
.menu-right {
    padding-top: 20px;
    float: right;
}
.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: red;
  color: black;
}

.topnav a.active {
  background-color: #fff;
  color: white;
}

.topnav-right {
  float: right;
}
li.nav-items a{
    color: #000;
    margin: 5px;
    padding: 15px;
}
li.nav-items a:hover , li.nav-items a:active{
    color: #42fff6;
    font-weight: 400;
    text-decoration:none;
}
.side-nav-icon , .logo-trade-pg {
    padding: 30px 0;
}
ul.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight:400;
}
li.nav-item a:hover ,  li.nav-item a:active {
    color: #42fff6;
    font-weight:400;
    text-decoration:none;
}
.trade-head-menu , .trade-head2-menu , .trade-head3-menu{
    width:100%;
}
.head-left {
    float: left;
}
.head-right {
    float: right;
}
ul.head-right-links {
    padding: 20px 0;
}
ul.head-right-links li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}
ul.head-right-links li:after {
    content: '|';
    padding: 0 5px;
    color:#fff;
    opacity:0.3;
}
ul.head-right-links li:last-child:after {
    content: none;
}
ul.head-right-links li a {
    color: #000;
    text-decoration: none;
    background-color: #00ada2;
    padding: 10px;
    border-radius: 25px;
}
.trade-2-row , .trade-3-row {
    padding-left: 30px;
    padding-right: 30px;
}
.head-left h1  {
    font-size: 40px;
    font-weight: 400;
}
.head-center h2 {
    font-size: 30px;
    font-weight: 400;
    text-align:center;
}
.star-icon {
    /*background-color: #fff;*/
    /*padding: 45px 0 5px;*/
    /*opacity: 0.1;*/
}
.img_tooltip {
  position: relative;
  display: inline-block;
}

.img_tooltip .img_tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #01253a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top:35px;
  right:calc(50% - 60px);
  z-index: 1;
}

.img_tooltip:hover .img_tooltiptext {
  visibility: visible;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #000 !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #000 !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #000 !important;
}
::placeholder {
    color: white !important;
    opacity: 0.8 !important; /* Firefox */
  }
.search-field{
    transform: translateY(-5px);
}
.nav-item .fa-search {
    position: absolute;
    right: 57%;
    top: 68%;
}
.head-center {
    padding: 80px 0;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}
.tabset {
  max-width: 100%;
}
.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #42fff6;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #42fff6;
}

.tabset > input:checked + label {
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
}
.board-card a {
    margin: auto;
    width: 90%;
    padding-top: 30px;
}
.board-panels {
    margin-bottom: 20rem;
    min-width:830px;
}
.logo-trade-pg img {
    width: 80%;
    height: auto;
}
@media(max-width:1440px){
    .logo-trade-pg img {
        width: 80%;
        height: auto;
    }
    .trade-1-col-left{
        width:10%;
    }
}
.sidebar-icon_tooltip {
  position: relative;
  display: block;
}

.sidebar-icon_tooltip .sidebar-icon_tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #01253a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: calc(100% - 80px);
  left: calc(100% - 0%);
  z-index: 1;
}
@media(max-width: 1024px){
    .div-a-second , .div-a-first {
        padding: 20px 10px !important ;
    }
    li.nav-items a {
        margin:0;
        padding:10px;
    }
    ul.head-right-links li:after {
        padding: 0 2px;
    }
    .search-field {
        width: 220px !important;
    }
    #content {
        height: 300vh;
        width: 100%;
        background: #000c13;
    }
}
.sidebar-icon_tooltip:hover .sidebar-icon_tooltiptext {
  visibility: visible;
}
body.trade-pg {
    background-color: #000c13;
}
body.trade-pg *{
    color:#fff;
}

body.trade-pg .card{
    background-color:#000f19;
}
body.lite-theme.trade-pg {
    background-color: #fff;
}
body.lite-theme.trade-pg *{
    color:#000;
}
body.lite-theme.trade-pg .board-card a {
    background-color:#fff;
}
body.lite-theme.trade-pg .card{
    background-color: #fff;
}

body.lite-theme.trade-pg h5.card-title.board-title {
    color: #000;
}
body.lite-theme.trade-pg p.card-text {
    color: #000;
}
body.lite-theme.trade-pg .ninth-cont *{
    color:#fff !important;
}
body.lite-theme.trade-pg .sidebar-icon_tooltip .sidebar-icon_tooltiptext{
    color:#fff;
}
body.lite-theme.trade-pg .img_tooltip .img_tooltiptext{
    color:#fff;
}