.login-main-bg {
    background-color: #000e14;
}
.login-bg {
    background-image: url(/frontend/img/login-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: #000c13;
    height: 120vh;
}
.login-box {
    background-image: url(/frontend/img/new-login.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    width: 80%;
    -webkit-box-shadow: 4px -1px 13px -3px rgba(0, 0, 0, 0.93);
    -moz-box-shadow: 4px -1px 13px -3px rgba(0, 0, 0, 0.93);
    box-shadow: 4px -1px 13px -3px rgba(0, 0, 0, 0.93);
}
.tab-box {
    padding: 200px 150px;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
button:focus {
    outline: none;
}
.tabs__button {
    padding: 10px 20px;
    border: none;
    background: none;
    color: #fff;
    font-size: 22px;
    width: 50%;
}
.tabs__button:hover {
    border-bottom: 1px solid white;
}
.tabs__button--active {
    border-bottom: 1px solid white;
}
.tab-content {
    display: none;
    padding: 20px;
    border-top: none;
}
.tab-content--active {
    display: block;
    -webkit-animation-name: tabsAnim;
    animation-name: tabsAnim;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.tab-content__caption {
    margin-top: 0;
    margin-bottom: 16px;
}
@-webkit-keyframes tabsAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tabsAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.tab-content__text {
    margin: 0;
}
#content {
    height: 80%;
    display: flex;
    align-items: center;
}
.pd-0 {
    padding-left: 0px;
    padding-right: 0px;
}
.h1-bold {
    font-weight: bold;
}
.h1-style {
    font-size: 56px;
    color: #fff;
}
.nav-a-margin {
    margin-left: 10px;
    margin-right: 10px;
}
.dark-light-btn {
    position: absolute;
}
.fa-user-circle-o {
    color: gray;
}

.input-group {
    border: 1px white solid;
    padding: 5px 18px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 30px;
}
.text-box::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(0, 0, 0) !important;
    opacity: 1; /* Firefox */
    font-weight: 600;
}
.text-box {
    border: none;
    background-color: transparent;
    padding-left: 50px;
}
.text-box:hover,
.text-box:focus {
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.login-btn-one {
    background-color: white;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 30px;
    color: #000000;
    text-decoration: none !important;
}
.login-btn-one:hover {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}
.forget-pass {
    color: white;
    float: right;
    font-weight: 500;
}
.sign-in-opt {
    color: white;
}
.mrg-top-txt-center {
    text-align: center;
    margin-top: 60px;
}
.login-icon {
    width: 40px;
}
@media (max-width: 1800px) {
    .login-box {
        width: 90% !important;
    }
}
@media (max-width: 1680px) {
    .login-box {
        width: 100% !important;
    }
}
@media (max-width: 1578px) {
    .tab-box {
        padding: 200px 125px;
    }
}
@media (max-width: 1480px) {
    .tab-box {
        padding: 200px 100px;
    }
}
@media (max-width: 1480px) {
    .tab-box {
        padding: 200px 70px;
    }
}
@media (max-width: 1400px) {
    .tabs__button {
        font-size: 20px;
    }
    .tab-box {
        padding: 150px 70px;
    }
}
@media (max-width: 1200px) {
    .h1-style {
        font-size: 44px !important;
    }
    .tab-box {
        padding: 100px 50px;
    }
    .tabs__button {
        font-size: 18px;
    }
    .login-bg {
        height: auto;
    }
    .login-bg .container {
        padding-bottom: 150px;
    }
}
@media (max-width: 999px) {
    .tabs__button {
        font-size: 16px;
        padding: 10px 15px;
    }
    .tab-content {
        padding: 20px 0px;
    }
    .text-box {
        font-size: 14px;
        padding-left: 35px;
    }
    .tab-box {
        padding: 75px 50px;
    }
    .forget-pass {
        font-size: 14px;
    }
    .sign-in-opt {
        font-size: 14px;
    }
    .login-icon {
        width: 35px;
    }
}
@media (max-width: 899px) {
    .container {
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 680px;
    }
    .login-box {
        width: 75% !important;
        margin-left: auto;
        margin-right: auto;
    }
    #content {
        padding-top: 40px;
    }
    .h1-style {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 699px) {
    .container {
        max-width: 600px;
    }
}
@media (max-width: 599px) {
    .login-box {
        width: 100% !important;
    }
    .h1-style {
        font-size: 38px !important;
    }
    .container {
        max-width: 550px;
    }
}
@media (max-width: 439px) {
    .h1-style {
        font-size: 36px !important;
    }
    .text-box {
        padding-left: 25px;
    }
    .tab-box {
        padding: 75px 25px;
    }
    .tabs__button {
        font-size: 14px;
        padding: 10px 10px;
    }
    .login-icon {
        width: 30px;
    }
}
/* Lite theme */
.lite-theme .text-white {
    color: black !important;
}
.lite-theme .login-main-bg {
    background-color: #ffffff;
}
.lite-theme .h1-style {
    color: #000000;
}
body.lite-theme .login-bg {
    background-color: #fff;
}
.lite-theme .title {
    color: black;
    font-weight: 400;
}
.lite-theme .search-field {
    border-color: #000000 !important;
}
.lite-theme i.fa.fa-search {
    color: #000000 !important;
}
@media (max-width: 1024px) {
    .termsAndServices-row {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 1280px) {
    .termsAndServices-row {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 1366px) {
    .termsAndServices-row {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 1440px) {
    .termsAndServices-row {
        padding-right: 30px;
        padding-left: 30px;
    }
}
