.pricing-head-bg {
    background-color: #000c13;
}
i.fa.fa-search {
    color: #00ffff;
}
.tr-brd-btm {
    border-bottom: 2px solid #00ffff;
}
.tr-brd-top {
    border-top: 2px solid #00ffff;
}
.td-width-30 {
    width: 30% !important;
}
.td-pd-top {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.td-width-15 {
    width: 15% !important;
    text-align: left;
}
.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: #00ffff;
    font-size: 18px;
}
.hover-7:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00ffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s;
}
.hover-7:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #00ffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.hover-7:hover:before {
    transform: scaleX(1);
    text-decoration: none;
}
.hover-7:hover:after {
    transform: scaleX(1);
    text-decoration: none;
}
.hover-7:hover {
    text-decoration: none;
    color: #ffffff;
}
.learn-more {
    color: #00ffff;
}
.learn-more:hover {
    color: #ffffff;
}

.financial-schedule-bg {
    background-image: url(../img/financial-fee-schedule-img.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 25%;
    background-color: #000c13;
    background-position: right 200px top 50%;
}
.interest-rates-bg {
    background-image: url(../img/interest-rates-img.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: auto;
    background-color: #00121e;
    background-position: right 5px top 395px;
}
.fees-charged-bg {
    /*background-image: url(../img/interest-rates-img.png);*/
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: auto;
    background-color: #000c13;
    background-position: right 5px top 395px;
}
.stk-trnsf-bg {
    background-image: url(../img/arrow-bg.png);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-color: #000c13;
    background-position: right -95px top 15%;
}
.sec-pricing-cont .container .row .col-md-8 .fees-charged-h1-text {
    padding-top: 20px;
}
.pricing-p1-text,
.pricing-p2-text {
    color: white;
    font-size: 18px;
}
.open-account {
    background-color: #00ffff !important;
    border-radius: 0px;
    color: #002b4b !important;
    border-color: #00ffff !important;
    padding: 8px 10px;
    font-size: 18px;
}
.interest-rates-p1-text {
    color: #fff;
    font-size: 18px;
    padding-bottom: 20px;
}
.interest-rates-p2-text {
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
}
.interest-rates-p3-text {
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
}
.interest-rates-h1-text {
    color: #00fff6;
    font-weight: 400;
}
.table.interest-rates-table {
    color: #fff;
}
.fees-charged-table {
    color: #fff;
}
.space-padding-four {
    padding: 100px 0;
}
.fees-charged-h1-text {
    color: #00fff6;
    font-weight: 400;
    padding-bottom: 10px;
}
.fees-charged-p1-text {
    color: #fff;
    font-size: 18px;
    padding-bottom: 20px;
}

.fees-charged-p2-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}
.fees-charged-p3-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}
.fees-charged-p4-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}
.fees-charged-p5-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}
.fees-charged-p6-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;
}

.first-pricing-cont {
    background-color: #000c13;
}
.lite-theme .first-pricing-cont {
    background-color: #fff;
}
.sec-pricing-cont {
    padding-top: 20px;
}
.lite-theme .sec-pricing-cont {
    background-color: #eeeeee;
}
.lite-theme .pricing-p1-text,
.lite-theme .pricing-p2-text {
    color: #000;
}
.pricing-h1-text {
    color: #00fff6;
    font-weight: 400;
}
.lite-theme .pricing-h1-text {
    color: #000;
    font-weight: 400;
}
.lite-theme .interest-rates-bg {
    background-color: #eeeeee;
}
.lite-theme .interest-rates-p1-text {
    color: #000;
}
.lite-theme .interest-rates-p2-text {
    color: #000;
}
.lite-theme .interest-rates-p3-text {
    color: #000;
}
.lite-theme .interest-rates-p4-text {
    color: #000;
}
.lite-theme .interest-rates-p5-text {
    color: #000;
}
.lite-theme .interest-rates-p6-text {
    color: #000;
}
.lite-theme .table.interest-rates-table {
    color: #000;
}
.lite-theme .fees-charged-p1-text {
    color: #000;
}
.lite-theme .fees-charged-table {
    color: #000;
}
.lite-theme .fees-charged-p2-text {
    color: #000000;
}
.lite-theme .fees-charged-p3-text {
    color: #000000;
}
.lite-theme .fees-charged-p4-text {
    color: #000000;
}
.lite-theme .fees-charged-p5-text {
    color: #000000;
}
.lite-theme .fees-charged-p6-text {
    color: #000000;
}
.lite-theme .hover-7:hover {
    color: #000000;
}
.lite-theme .pricing-head-bg {
    background-color: #fff;
}
.lite-theme .interest-rates-h1-text {
    color: #000000;
}
.lite-theme .fees-charged-h1-text {
    color: #000000;
}
.lite-theme .tr-brd-btm {
    border-bottom: 2px solid #464646;
}
.lite-theme .tr-brd-top {
    border-top: 2px solid #464646;
}
.lite-theme .search-field {
    border-color: #464646 !important;
}
.lite-theme i.fa.fa-search {
    color: #464646;
}
.lite-theme .link {
    color: #54b9d2;
}

.interest-rates-table th {
    min-width: 200px;
}
@media (max-width: 1440px) {
    .interest-rates-bg {
        background-image: url(../img/interest-rates-img.png);
        background-repeat: no-repeat;
        background-size: 55%;
        background-color: #00121e;
        background-position: right -115px top 395px;
    }
    .stk-trnsf-bg {
        background-image: url(../img/arrow-bg.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #000c13;
        background-position: right -259px top 98%;
    }
    .space-padding-three {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .financial-schedule-bg {
        background-image: url(../img/financial-fee-schedule-img.png);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: 23%;
        background-color: #000c13;
        background-position: right 200px top 65%;
    }
}
@media (max-width: 1366px) {
    .stk-trnsf-bg {
        background-image: url(../img/arrow-bg.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #000c13;
        background-position: right -259px top 95%;
    }
    .financial-schedule-bg {
        background-image: url(../img/financial-fee-schedule-img.png);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: 25%;
        background-color: #000c13;
        background-position: right 175px top 50%;
    }
}
@media (max-width: 1280px) {
    .financial-schedule-bg {
        background-image: url(../img/financial-fee-schedule-img.png);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: 25%;
        background-color: #000c13;
        background-position: right 155px top 40%;
    }
    .interest-rates-bg {
        background-image: url(../img/interest-rates-img.png);
        background-repeat: no-repeat;
        background-size: 55%;
        background-color: #00121e;
        background-position: right -155px top 395px;
    }
}
@media (max-width: 1024px) {
    .financial-schedule-bg {
        background-image: url(../img/financial-fee-schedule-img.png);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: 25%;
        background-color: #000c13;
        background-position: right 100px top 40%;
    }
    .stk-trnsf-bg {
        background-image: url(../img/arrow-bg.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #000c13;
        background-position: right -170px top 89%;
    }
    .interest-rates-bg {
        background-image: url(../img/interest-rates-img.png);
        background-repeat: no-repeat;
        background-size: 55%;
        background-color: #00121e;
        background-position: right -130px top 100%;
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .financial-schedule-bg {
        background-image: url(../img/financial-fee-schedule-img.png);
        background-repeat: no-repeat;
        background-size: 25%;
        background-color: #000c13;
        background-position: right 135px top 40%;
    }
}
@media (max-width: 992px) {
    .interest-rates-bg {
        background-image: url(../img/interest-rates-img.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #00121e;
        background-position: right -115px top 100%;
    }
    .space-padding-four {
        padding: 30px 0;
    }
}
@media (max-width: 600px) {
    .financial-schedule-bg,
    .interest-rates-bg,
    .stk-trnsf-bg {
        background-image: unset !important;
    }
}
@media (max-width: 800px) {
    .financial-schedule-bg {
        background-image: url(../img/financial-fee-schedule-img.png);
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: 28%;
        background-color: #000c13;
        background-position: right 48px top 40%;
    }
    .space-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .stk-trnsf-bg {
        background-image: url(../img/arrow-bg.png);
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #000c13;
        background-position: right -170px top 82%;
    }
}
@media (max-width: 770px) {
    .financial-schedule-bg {
        background-image: none;
        background-repeat: no-repeat;
        background-size: 30%;
        background-color: #000c13;
        background-position: right 43px top 40%;
    }
    .interest-rates-bg {
        background-image: none;
    }
    .space-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .stk-trnsf-bg {
        background-image: none;
        background-repeat: no-repeat;
        background-size: 50%;
        background-color: #000c13;
        background-position: right -77px top 81%;
    }
}
@media (max-width: 430px) {
    .space-padding-three {
        padding: 30px;
    }
    .open-account {
        display: block;
        margin: 0 auto;
    }
    .space-padding-four {
        padding: 30px;
    }
    .responsive-table {
        overflow-x: scroll;
    }
}
