.privacy-policy-bg{
    background-color: #001017;
    background-position: right center;
    background-size: 1037px 614px;
}
.privacy-policy-headng{
	color: #00fff6;
    font-weight: 300;
    padding-bottom: 60px;
}
.privacy-policy-p1 p,
.privacy-policy-p2 p, 
.privacy-policy-p3 p, 
.privacy-policy-p4 p, 
.privacy-policy-p5 p, 
.privacy-policy-p6 p, 
.privacy-policy-p7 p, 
.privacy-policy-p8 p, 
.privacy-policy-p9 p,
.privacy-policy-p10 p{
	color: #fff;
	font-size: 16px;
    margin-bottom: 1.5rem!important;
}
.privacy-policy-div{
	background-color: #001017;
    padding: 0;
    color: white;
    font-size: 22px;
}
.lite-theme .privacy-policy-bg{
    /* background-image: url(../img/slider-2-jpg.jpg); */
    background-color: #fff;
    background-position: right center;
    background-size: 1037px 614px;
}
.lite-theme .privacy-policy-headng{
	color: #000;
    font-weight: 400;
}
.lite-theme .privacy-policy-p1 p,
.lite-theme .privacy-policy-p2 p, 
.lite-theme .privacy-policy-p3 p, 
.lite-theme .privacy-policy-p4 p, 
.lite-theme .privacy-policy-p5 p, 
.lite-theme .privacy-policy-p6 p, 
.lite-theme .privacy-policy-p7 p, 
.lite-theme .privacy-policy-p8 p, 
.lite-theme .privacy-policy-p9 p,
.lite-theme .privacy-policy-p10 p{
	color: #000;
}
.privacy-policy-p1 , .lite-theme .privacy-policy-p1{
    padding-bottom: 7.5%;
}
.lite-theme .privacy-policy-div{
	background-color: #fff;
    padding: 0;
    color: #000;
    font-size: 22px;
}
.pd-0 {
    padding-right: 0px;
    padding-left: 0px;
}
.dark-light-btn {
    position: absolute;
}
span.input-group-append {
    padding-right: 30px;
}
.nav-a-margin {
    margin-left: 10px; 
    margin-right: 10px; 
}