.navbar {
    padding: 15px 10px;
    background: unset !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #011019;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    padding-left: 30px;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    padding-left: 100px;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #00c6b8;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
ul.nav.navbar-nav.ml-auto a.nav-item:hover{
    color:#00c6b8;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1100px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}


/*CUSTOM CSS*/

/*CUSTOM CSS STARTS*/
.profile-sidebar-logo-area {
    height: 200px;
    padding-top:40px;
}
.profile-sidebar-logo-area img{
    width:160px;
    height:auto;
}

body.profile-pg nav#sidebar h4{
    color:#00ffea;
    font-size: 22px;
    padding-top:30px;
}
body.profile-pg nav#sidebar h4:nth-child(1){
    padding-top:0px;
}
body.profile-pg nav#sidebar ul li a{
    color:#656565;
    font-size: 16px;
    padding-left:0px
}
.about-profile-left.col-sm {
    border: 2px solid rgb(255 255 255 / 8%);
    padding: 90px 80px;
    background: url(../img/profile-bg-background.png); 
}
body.profile-pg h1{
    color:#00feea;
    font-size: 38px;
}

.about-profile-left p{
    color:#fff;
    font-size:20px;
    margin-bottom:5px !important;
}
body.profile-pg .bs-example {
    padding-left:0px
}
body.profile-pg .bs-example nav{
    padding-left:0px
}
.about-profile-right table{
    color: #fff;
}
.about-profile-right td{
    border:0px;
    padding-top:0px;
    padding-bottom: 6px;
}
.profile-pic-row {
    padding-bottom: 40px;
}
body.profile-pg .container-fluid {
    padding-left:0px;
    
}
.about-profile-right img {
    width: 150px !important;
    height: auto;
}
.about-profile-right {
    padding-left:40px;
    padding-top:50px;
}
.profile-inner-row-2.row{
    /* margin-left: 0px; */
    /* border: 2px solid #fff; */
    color: #fff;
    padding: 49px 29px;
    padding-bottom: 27px;
}
.profile-inner-row-3 {
    margin-left: 0px;
    border: 2px solid #142127;
    color: #fff;
    padding: 60px 0px;
    padding-bottom: 47px;
    padding-left:80px;
}

#sidebar ul li a:hover {
    color: #02fae3 !important;
    background: transparent;
    text-decoration:none;
}
#sidebar ul.components {
    border-bottom:0px;
}
.profile-inner-row-3 {
    font-size: 20px;
}
.profile-inner-row-3 .row:nth-child(1) {
    padding-bottom:15px
}
.cl-2 {
    color: #626263;
}
.cl-3 span {
    padding-left: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding: 6px 37px;
}

/*CUSTOM CSS END*/

ul.nav.navbar-nav.ml-auto {
    /* width: 100%; */
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: 200px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{
    color:#00c6b8;
}

@media only screen and (max-width:768px){
    #content {
        padding-left:20px !important;
    }
    p{
        font-size:14px !important;
    }
    h1{
        font-size:20px;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: auto;
    }

.profile-inner-row-1 {
    display: block;
    text-align:center;
}
.profile-pic-row {
    display:block;
}
.profile-pic-row img{
    width:25%;
    height:auto
}
.profile-inner-row-3 {
    font-size: 15px;
}
.btn-dark {
    color: #fff;
    background-color: #00c6b8;
    border-color: #343a40;
}
}
@media screen and (max-width: 1780px) and (min-width: 1401px){
    ul.nav.navbar-nav.ml-auto li a{
        padding: 6px 22px !important;
        font-size:13px;
    }
  
   span.input-group-append {
    width: 200px;
}
span.input-group-append input{
    width: 100%;
}
ul.nav.navbar-nav.ml-auto{
    width: 100%;
}
.ml-auto, .mx-auto {
    margin-left:20px !important;
}
#content {
   
    padding-left: 20px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 13px;    
    padding: 6px 22px;
}
ul.nav.navbar-nav.ml-auto {
    /* width: 100%; */
    margin-left: 0px !important;
    justify-content: center;
}
}
@media screen and (max-width: 1400px) and (min-width: 992px){
    ul.nav.navbar-nav.ml-auto li a{
        padding: 6px 14px !important;
        font-size:13px;
    }
  
    span.input-group-append {
    width: 151px;
}
span.input-group-append input{
    width: 100px;
}
ul.nav.navbar-nav.ml-auto{
    width: 100%;
}
.ml-auto, .mx-auto {
    margin-left:20px !important;
}
#content {
   
    padding-left: 20px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 13px;    
    padding: 6px 22px;
}
}

@media screen and (max-width: 1200px) and (min-width: 769px){
    #content {
        padding-left:70px !important;
    }
    p{
        font-size:14px !important;
    }
    h1{
        font-size:20px;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: auto;
    }

.profile-inner-row-1 {
    display: block;
    text-align:center;
}
.profile-pic-row {
    display:block;
}
.profile-pic-row img{
    width:25%;
    height:auto
}
.profile-inner-row-3 {
    font-size: 15px;
}
.btn-dark {
    color: #414141;
    background-color: #00c6b8;
    border-color: #343a40;
}
#sidebar {
    min-width: auto;
    max-width: auto;
}
}
@media (min-width: 1101px) and (max-width: 1165px) {
   ul.nav.navbar-nav.ml-auto li a {
    padding: 6px 7px !important;
    
}
 span.input-group-append {
    width: 140px;
}
span.input-group-append input{
    width: 100%;
}
}

.navbar-collapse.collapse.show .navbar-nav.ml-auto {
    margin-left: 0px !important;
}
.btn-dark {
    color: #545757 !important;
    background-color: #00c6b8 !important;
    border-color: #00c6b8 !important;
}
@media (max-width: 998px){ 
.dot {
    display:none;
}} 
@media only screen and (max-width:690px){
    .about-profile-left.col-sm {
    
    padding: 50px 20px;
    }
    body.profile-pg .container-fluid {
    padding-left: 15px;
    }
    .about-profile-right {
        padding-left: 15px;
    }
    .profile-inner-row-3 {
    padding-left: 0px;
    text-align:center;
}
.profile-inner-row-3 img {
    width: 20px;
    height: auto;
}
.about-profile-left.col-sm{
    background-size: cover;
    background-repeat:no-repeat;
}
}


/*LITE THEME*/


body.profile-pg.lite-theme .container-fluid.pd-0 {
    background-color:#fff;
}
body.profile-pg.lite-theme .main-bg {
    background-image: none;
}
body.profile-pg.lite-theme a.nav-item.nav-link {
    color: #000;
}
body.profile-pg.lite-theme .about-profile-right *{
    color:#000; 
}
body.profile-pg.lite-theme .about-profile-left.col-sm * {
    color:#000;
    background:none !important;
}
body.profile-pg.lite-theme .about-profile-left.col-sm {
    background:none !important;
}
body.profile-pg.lite-theme h1 {
    color: #00feea !important;
}
body.profile-pg.lite-theme .profile-inner-row-2.row {
    color: #000;
}
body.profile-pg.lite-theme .profile-inner-row-3 {
    color: #000;
}
body.profile-pg.lite-theme .about-profile-left.col-sm {
    border: 2px solid rgb(20 20 20 / 8%);
}
/*LITE THEME*/