.trade-1-row {
    /* padding-top: 80px; */
    /* padding-bottom: 80px; */
    display: flex;
}
.trade-1-row .trade-1-col-left i{
    font-size:70px;
    color:#001a29;
} 
.trade-1-col-left {
    width: 5%;
    background-color: #011019;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 50px;
}

.trade-1-col-right {
    width: 95%;
}

.trade-main-content.container {
    max-width: 100%;
    padding-left: 0px;
}
.trade-1-row .trade-1-col-left i:hover{
    color:#fff;
}
.trade-1-row .trade-1-col-left div:nth-child(1) i{
    padding: 3px;
    background-color:#001a29;
    color:#011019;
    border-radius:5px;
}
.trade-1-row .trade-1-col-left div:nth-child(1) i:hover{
    padding: 3px;
    background-color:#fff;
    color:#011019;
    border-radius:5px;
}
@media (min-width: 1200px){
    .container {
        max-width: 1520px;
    }
}
.div-top-padding{
    padding-top:100px;
}
.menu-right {
    padding-top: 20px;
    float: right;
}
.topnav {
  overflow: hidden;
  background-color: #000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: red;
  color: black;
}

.topnav a.active {
  background-color: #fff;
  color: white;
}

.topnav-right {
  float: right;
}
li.nav-items a{
    color: #000;
    margin: 5px;
    padding: 15px;
}
li.nav-items a:hover{
    color: #42fff6 !important;
    font-weight: 400 !important;
    text-decoration:none;
}
.side-nav-icon , .logo-trade-pg {
    padding: 30px 0;
}
ul.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight:400;
}
li.nav-item a:hover , li.nav-item a:active {
    color: #42fff6 !important;
    font-weight: 400;
    text-decoration:none;
}
.trade-head-menu , .trade-head2-menu , .trade-head3-menu{
    width:100%;
}
.head-left {
    float: left;
}
.head-right {
    float: right;
}
ul.head-right-links {
    padding: 20px 0;
}
ul.head-right-links li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
}
ul.head-right-links li:after {
    content: '|';
    padding: 0 5px;
    color:#fff;
    opacity:0.3;
}
ul.head-right-links li:last-child:after {
    content: none;
}
ul.head-right-links li a {
    color: #000;
    text-decoration: none;
    background-color: #00ada2;
    padding: 10px;
    border-radius: 25px;
}
.trade-2-row {
    padding-left: 10px;
    padding-right: 10px;
}
.head-left h1  {
    font-size: 40px;
    font-weight: 400;
}
.star-icon {
    /*background-color: #fff;*/
    /*padding: 45px 0 5px;*/
    /*opacity: 0.1;*/
}
.img_tooltip {
  position: relative;
  display: inline-block;
}

.img_tooltip .img_tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #01253a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top:35px;
  right:calc(50% - 60px);
  z-index: 99;
}

.img_tooltip:hover .img_tooltiptext {
  visibility: visible;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #000 !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #000 !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #000 !important;
}
::placeholder {
    color: white !important;
    opacity: 0.8 !important; /* Firefox */
  }
.search-field{
    color:#000 !important;
    transform: translateY(-5px);
}
.nav-item .fa-search {
    position: absolute;
    right: 57%;
    top: 68%;
    color:#fff;
}
.logo-trade-pg img {
    width: 80%;
    height: auto;
}
@media(max-width:1440px){
    .logo-trade-pg img {
        width: 80%;
        height: auto;
    }
    .trade-1-col-left{
        width:10%;
    }
}
.sidebar-icon_tooltip {
  position: relative;
  display: block;
}

.sidebar-icon_tooltip .sidebar-icon_tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #01253a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  top: calc(100% - 80px);
  left: calc(100% - 0%);
  z-index: 1;
}

.sidebar-icon_tooltip:hover .sidebar-icon_tooltiptext {
  visibility: visible;
}
/*Dragable css*/
#content {
    height: 280vh;
    width: 100%;
    background: #000c13;
}

.draggable {
    position: absolute;
    width: auto;
    height: auto;
    /*border: 1px solid;*/

}

.sty-seven {
    border-right: 1px solid #001b26;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89);
    -moz-box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89);
    box-shadow: 0px 0px 20px -2px rgba(0, 173, 161, 0.89);
    padding: 15px;
    background-color: #00111d;
    color: white;
     margin-right: 0;
    margin-left: 0;
    height: calc(100% - 70px);
}

.h4-head {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 0px;
    padding: 2px;
}
.custom-row{
    margin-right: 0;
    margin-left: 0;
}
body.trade-pg {
    background-color: #000c13;
}
body.trade-pg ul.navbar-nav li a {
    color: #fff;
    font-size: 17px;
    font-weight:600;
}
.trade-head2-menu h1 {
    color: #fff;
}
/*Dragable css*/

.tab {
    overflow: hidden; border: 1px solid transparent; 
    background-color: transparent;color: white;}
.tabcontent {display: none; padding: 6px 12px;}
.tab button {background-color: inherit; float: left; border: none;
    outline: none; cursor: pointer; padding: 14px 16px; 
    transition: 0.3s;color: white;}
.tab button:hover {background-color: transparent;color: #00cfc0;}
.tab .active {color: #00cfc0;}
.tabcontent {display: none; padding: 6px 12px;}
table {border-collapse: collapse;
    width: 100%;}
td, th {padding: 8px;font-weight: 100;}
.actived a{color:green}
.actived a:hover{ font-weight: bold}
.deactivated a{color:red}
.deactivated a:hover{ font-weight: bold}
.available {color:green; }
.disable{ color: red; font-weight: bold}
.intraining{color: blue; font-weight: bold}
.vacation{ font-weight: bold}
select#cars {
    background-color: transparent;
    color: white;
    border-color: cyan;
    border-bottom: inset;
    border-bottom-color: cyan;
    font-size: 14px;
    padding: 2px;
    width: 100%;
}
select#cars:focus{
    outline: 0px;
}
option.typ-1 {
    color: white;
    background-color: #00111d;
}
.pcss3t .typography h6:first-child{
    padding-top:12px;
}
.pcss3t .typography h6 {
    font-size: 1rem;
    line-height: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

@media(max-width: 1024px){
    .div-a-second , .div-a-first {
        padding: 20px 10px !important ;
    }
    li.nav-items a {
        margin:0;
        padding:10px;
    }
    ul.head-right-links li:after {
        padding: 0 2px;
    }
    .search-field {
        width: 220px !important;
    }
    .trade-main-content.container {
        max-width: 100%;
        min-width: 1210px;
    }
    .trade-2-row {
        padding-left: 25px;
        padding-right: 25px;
    }
    #content {
        height: 300vh;
        width: 100%;
        background: #000c13;
    }
}
@media (max-width: 992px){
    .container {
        max-width: 1078px;
        
    }
}
.row.sty-seven .col-md-12 img {
    width:100%;
    height:100%;
    object-fit:cover;
}
body.trade-pg.trade-draggable .row.sty-seven .col-md-12 {
    height:100%;
}